<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epass.curfue">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.QRCodeScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.DeeplinkActivity"/>
        <activity android:name=".activities.BaseActivity"/>

        <service android:name=".notifications.OurFirebaseMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".activities.EnterOtpActivity"/>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.ProfileActivity"/>
        <activity android:name=".activities.CreateApplicationActivity"/>
        <activity android:name=".activities.ApplicationCreatedActivity"/>
        <activity android:name=".activities.WelcomeActivity"/>
        <activity android:name=".activities.VerificationFoundActivity"/>
        <activity android:name=".activities.QRVerificationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"/>

        <activity android:name=".activities.QRStatusActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>